.gift-code {
    font-size: 1.2rem;
    font-weight: 500;
}

.gifts .cls-1 {
    stroke-width: 11px;
}
  
.gifts .cls-1, .gifts .cls-2 {
    fill: none;
    stroke: #99ab77;
    stroke-miterlimit: 10;
}
  
.gifts .cls-2 {
    stroke-width: 15px;
}