.loc-img {
    max-width: 50rem;
    height: 28.125rem;
}

.loc-title {
    font-size: 2rem;
    font-weight: 600;
    object-fit: cover;
}

.location .cls-2 {
    fill: none;
    stroke-linejoin: round;
    stroke-width: 11px;
    stroke: #99ab77;
}