* {
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

section {
    padding: 5rem 3rem;
    width: 100%;
}

.section-1 {
    background-color: #fafafa;
}

.sec-content {
    margin-top: 1.5rem;
}

h2 {
    font-family: "Parisienne", cursive;
    margin-bottom: 0.2rem !important;
}

.xv-container {
    height: 100%;
    margin: auto;
    max-width: 50rem;
    text-align: center;
}

.title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .2rem;
    color: #99ab77;
}

svg {
    fill: #99ab77;
    stroke: #99ab77;
    margin-bottom: 0.5rem;
}

.spacer {
    height: 1rem;
}

a.xv-btn {
    padding: 1rem 2rem;
    border-radius: 5px;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    text-decoration: none !important;
    color: #99ab77;
    border: 3px solid #99ab77;
}

.xv-btn:hover {
    background-color: #99ab77;
    color: #fff;
    transition: .2s;
}

.no-margin {
    margin: 0 !important;
}